.no-padding {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-element {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.row-padded {
    margin-bottom: 100px;
}

.row-mult-column:after{
    content:  "";
    display: table;
    clear: both;
}

.column {}

.column-center {
    text-align: center;
}

.column_1_3{
    float: left;
    width: 33.33%;
}

.column_2_3{
    float: left;
    width: 33.33%;
}

.column_3_3{
    float: left;
    width: 33.33%;
}

.column_1_4{
    float: left;
    width: 25%;
}

.column_2_4{
    float: left;
    width: 25%;
}

.column_3_4{
    float: left;
    width: 25%;
}

.column_4_4{
    float: left;
    width: 25%;
}

.column_1_2{
    float: left;
    width: 50%;
}

.column_2_2{
    float: left;
    width: 50%;
}


