<!DOCTYPE html>
<html class="bg-stone-950" lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $time := now }}
    {{ $styles := resources.Get "css/styles.scss"
    | toCSS
    | postCSS (dict "config" "./assets/css/postcss.config.js")
    | resources.ExecuteAsTemplate (printf "styles.%s.css" $time) $time
    }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ end }}
    <title>{{ .Title }}</title>
</head>

<body class="text-stone-200 font-mono">
    <div class="container lg mx-auto">
        <div class="flex flex-col h-screen">
            <header>{{ partial "header" . }}</header>
            <main class="m-auto">{{ block "main" . }}{{ end }}</main>
            <footer>{{ partial "footer" . }}</footer>
        </div>
    </div>
</body>

</html>