{{ define "main"}}
<div class="flex flex-col">
    <div class="flex flex-col gap-2">
        <h1 class="text-center font-extrabold text-4xl">Blog</h1>
        <p>The underesearched and heavily biased opinions in the the posts below are solely my own and do not represent those of my employer.</p>
    </div>
    <div class="pt-10">
        {{ range .Paginator.Pages }}
        <p>{{ .Date.Format "2006-01-02  " }} <a class="underline underline-offset-4 hover:hover:text-stone-500"
                href="{{ .RelPermalink }}">{{.Title }}</a></p>
        {{ end }}
    </div>
</div>
{{ end }}