<div class="flex flex-row py-5">
    <div>
        <p class="text-2xl font-extrabold">ross.grattafiori.dev</p>
    </div>
    <div class="flex flex-row ml-auto gap-5">
        <a href="/" class="fill-stone-200 hover:fill-stone-500">
            <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>Home</title>
                <path d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
            </svg>
        </a>
        <!-- <svg class="w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <a href="/" class="fill-stone-200 hover:fill-stone-500">
                <title>About</title>
                <path
                    d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z" />
            </a>
        </svg> -->
        <a href="/directory" class="fill-stone-200 hover:fill-stone-500">
            <svg class="w-8" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>Directory</title>
                <path
                    d="M10,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V8C22,6.89 21.1,6 20,6H12L10,4Z" />
            </svg>
        </a>
        <a href="/posts" class="fill-stone-200 hover:fill-stone-500">
            <svg class="fill-stone-200 hover:fill-stone-500 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <title>Blog</title>
                <path d="M3 3V21H21V3H3M18 18H6V17H18V18M18 16H6V15H18V16M18 12H6V6H18V12Z" />
            </svg>
        </a>
    </div>
</div>