{{ define "main" }}
<div class="flex flex-col">
  <div>
    <p>&#128075 Hi! My name is Ross, thanks for checking out my space. I am a Software Engineer, currently focused on 
      building distributed and highly scalable backends.
    </p>
    <p>
      This is one of the places where I catalog my continuous career growth and development through 
      technology related blog posts and a collection of ever-growing links to useful or interesting resources.</p>
  </div>

  <div>
    <h2>Recent Posts</h2>
    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ range (.Paginate $pages 5).Pages }}
    <p class="py-0">{{ .Date.Format "2006-01-02  " }} <a href="{{ .RelPermalink }}">{{.Title }}</a></p>
    {{ end }}
  </div>
</div>
{{ end }}